---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const today = new Date();
const dateString = (date: Date) =>
  date.toLocaleDateString("zh-cn", {
    year: date.getFullYear() === today.getFullYear() ? undefined : "numeric",
    day: "2-digit",
    month: "2-digit",
  });
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul class="list-none">
      {
        posts.map(({ slug, data: { title, date } }) => (
          <li>
            <div class="flex justify-between">
              <a href={`/posts/${slug}`}>
                <h4>{title}</h4>
              </a>
              <span>{dateString(date)}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
