---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import MathJaxHead from '../components/MathJaxHead.astro';
import { getNotes, normalizeId } from '../components/note';

export const getStaticPaths = async () => {
	const posts = await getCollection('posts');
	const tags = new Set(posts.flatMap(post => post.data.tags));
	return [
		/* post list */ { params: { list: undefined }, props: { type: 'post' } },
		/* tagged post list */ ...Array.from(tags).map(tag => ({ params: { list: `/tagged/${tag}` }, props: { type: 'post', tag } })),
		/* note list */ { params: { list: '/note' }, props: { type: 'note' } },
	];
};

const { type, tag } = Astro.props;

type Item = {
	url: string;
	title: string;
	date: Date;
};

const getNoteItems = async () => {
	const notes = await getNotes();
	return Object.entries(notes).map(([title, notes]) => ({
		url: `/note/${normalizeId(title)}/`,
		title,
		date: notes.map(note => note.data.date).reduce((a, b) => (a > b ? a : b)),
	}));
};

const getPostItems = async (tag?: string) => {
	const posts = await getCollection('posts');
	return posts
		.filter(post => !tag || post.data.tags.includes(tag))
		.map(({ slug, data: { title, date } }) => ({
			url: `/post/${slug}/`,
			title,
			date,
		}));
};

const itemsOfYear = (await (type === 'note' ? getNoteItems() : getPostItems(tag))).reduce(
	(acc, item) => {
		const year = item.date.getFullYear();
		acc[year] = [...(acc[year] || []), item];
		return acc;
	},
	{} as Record<number, Item[]>,
);

const zeroPadding = (n: number) => (n < 10 ? '0' : '') + n;
const dateString = (date: Date) => zeroPadding(date.getMonth() + 1) + '/' + zeroPadding(date.getDate());
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead />
		<MathJaxHead />
	</head>
	<body class='mx-auto max-w-lg max-sm:px-1'>
		<nav class='mt-4 font-serif text-3xl text-gray-700'>
			{
				type === 'note' ? (
					<a class='hover:text-black' href='/note' target='_self'>
						Notes
					</a>
				) : (
					<>
						<a class='hover:text-black' href='/' target='_self'>
							Posts
						</a>
						{tag && (
							<>
								<svg
									xmlns='http://www.w3.org/2000/svg'
									width='16'
									height='16'
									fill='currentColor'
									class='bi bi-slash inline-block'
									viewBox='0 0 16 16'
								>
									<path d='M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z' />
								</svg>
								<a href={`/tagged/${tag}/`} target='_self' class='hover:text-black'>
									#{tag}
								</a>
							</>
						)}
					</>
				)
			}
		</nav>
		<div class='flex flex-col items-stretch font-body'>
			{
				Object.entries(itemsOfYear)
					.sort(([a], [b]) => Number(b) - Number(a))
					.map(([year, items]) => (
						<>
							<h2 class='mt-4 text-xl text-gray-400'>{year}</h2>
							<hr />
							{items
								.sort((a, b) => b.date.valueOf() - a.date.valueOf())
								.map(({ url, title, date }) => (
									<div class='mt-2 flex items-baseline justify-between'>
										<a class='text-lg' href={url}>
											{title}
										</a>
										<time class='text-nowrap text-gray-400' datetime={date.toISOString()}>
											{dateString(date)}
										</time>
									</div>
								))}
						</>
					))
			}
		</div>
		<Footer />
	</body>
</html>
