---
import { getCollection, render } from 'astro:content';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';


export async function getStaticPaths() {
	const posts = (await getCollection('posts')).map(async (post) => ({
		props: { post: { ...post, rendered: await render(post) } },
		params: { page: `/post/${post.id}` },
	}));
	return await Promise.all(posts);
}

const { post } = Astro.props;
const isTufte = post.data.theme === 'tufte';
---

{isTufte ? (
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width,initial-scale=1' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{post.rendered.headings.find(h => h.depth === 1)?.text}</title>
		<meta name='title' content={post.rendered.headings.find(h => h.depth === 1)?.text} />
		<meta name='description' content={post.data.description} />
		<link rel='stylesheet' href='/tufte.css' />
		<script>
			const { matches, addEventListener } = window.matchMedia('(prefers-color-scheme: dark)');
			if (matches) document.documentElement.dataset['mode'] = 'dark';
			addEventListener('change', ({ matches }) => (document.documentElement.dataset['mode'] = matches ? 'dark' : 'light'));
		</script>
	</head>
	<body>
		<article>
			<p class='subtitle'>
				<time datetime={post.data.date.toISOString()}>{post.data.date.toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}</time>
			</p>
			<post.rendered.Content />
		</article>
	</body>
</html>
) : (
<html lang='en' class='theme-ayu text-pretty bg-gray-50'>
	<Head title={post.data.title} description={post?.data.description} />
	<body>
		<div class='relative grid min-h-full w-full md:grid-cols-[1fr_auto_1fr]'>
			<main class='w-main md:col-start-2'>
				<nav class='font-serif text-2xl text-inactive font-heading text-3xl'>
					<a href='/' class='hover:text-active'>Post</a>
				</nav>
				<time class='text-lg' datetime={post.data.date.toISOString()}>
					{post.data.date.toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}
				</time>
				<h1 class='font-serif text-4xl font-bold'>{post.data.title}</h1>
				<ul class='flex flex-wrap gap-1'>
					{
						post.data.tags.map(tag => (
							<a href={`/tagged/${tag}/`}>
								<li class='h-fit rounded-full border border-gray-300 bg-slate-100 px-1 font-light text-gray-600'>{tag}</li>
							</a>
						))
					}
				</ul>
				<hr class='mb-4 mt-2' />
				<article class='rendered-content prose'>
					<post.rendered.Content />
				</article>
				<Footer />
			</main>
			{
				post.rendered.headings.length > 1 && (
					<aside class='md:col-start-3'>
						<nav class='sticky top-8 mx-2 hidden md:block'>
							<ul class='space-y-1'>
								{post.rendered.headings.map(({ text, depth, slug }) => (
									<li class={`block text-sm hover:text-blue-600 ${depth > 2 ? 'ml-4' : ''}`}>
										<a href={`#${slug}`} data-heading={slug}>
											{text}
										</a>
									</li>
								))}
							</ul>
						</nav>
					</aside>
				)
			}
		</div>
		<script>
			(() => {
				const headingLinks = document.querySelectorAll('a[data-heading]');
				if (!headingLinks.length) return;

				const headingIdToLink = new Map(Array.from(headingLinks).map(link => [link.getAttribute('data-heading')!, link]));

				const highlightStyle = 'text-blue-600';
				const highlight = (link: Element) => {
					headingLinks.forEach(l => l.classList.remove(highlightStyle));
					link.classList.add(highlightStyle);
				};

				headingLinks.forEach(link => link.addEventListener('click', () => highlight(link)));

				const observer = new IntersectionObserver(
					entries => {
						const entry = entries.find(e => e.isIntersecting);
						if (entry) highlight(headingIdToLink.get(entry.target.id)!);
					},
					{ rootMargin: '-80px 0px -80% 0px' },
				);
				document.querySelectorAll('article :is(h1, h2, h3, h4, h5, h6)').forEach(heading => observer.observe(heading));

				const hash = window.location.hash.slice(1);
				highlight(headingIdToLink.get(hash) || headingLinks.item(0));
			})();
		</script>
	</body>
</html>
)}
