---
import { getCollection } from 'astro:content';
import '../styles/tufte.css';

export async function getStaticPaths() {
	return (await getCollection('posts'))
		.filter(({ data: { theme } }) => theme === 'tufte')
		.map(post => ({
			props: { post },
			params: { tufte: `/post/${post.slug}` },
		}));
}

const { post } = Astro.props;
const { description, date } = post.data;
const { Content, headings } = await post.render();
const title = headings.find(h => h.depth == 1)?.text!;
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width,initial-scale=1' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<meta name='title' content={title} />
		<meta name='description' content={description} />
		<script>
			const { matches, addEventListener } = window.matchMedia('(prefers-color-scheme: dark)');
			if (matches) document.documentElement.dataset['mode'] = 'dark';
			addEventListener('change', ({ matches }) => (document.documentElement.dataset['mode'] = matches ? 'dark' : 'light'));
		</script>
	</head>
	<body>
		<article>
			<p class='subtitle'>
				<time datetime={date.toISOString()}>{date.toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}</time>
			</p>
			<Content />
		</article>
	</body>
</html>
