---
import { getCollection, render } from 'astro:content';
import Head from '../components/Head.astro';

export async function getStaticPaths() {
	const posts = (await getCollection('posts'))
		.filter(post => post.data.theme === 'tufte')
		.map(async (post) => ({
			props: { post: { ...post, rendered: await render(post) } },
			params: { tufte: `/post/${post.id}` },
		}));
	return await Promise.all(posts);
}

const { post } = Astro.props;
---

<html lang='en'>
	<Head title={post.data.title} description={post.data.description} ogType="article" publishDate={post.data.date} tags={post.data.tags}>
		<link rel='stylesheet' href='/tufte.css' />
	</Head>
	<body>
		<article>
			<p class='subtitle'>
				<time datetime={post.data.date.toISOString()}>{post.data.date.toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}</time>
			</p>
			<post.rendered.Content />
		</article>
	</body>
</html>
