---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const today = new Date();
const dateString = (date: Date) =>
  date.toLocaleDateString("zh-cn", {
    year: date.getFullYear() === today.getFullYear() ? undefined : "numeric",
    day: "2-digit",
    month: "2-digit",
  });
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul class="unset">
      {
        posts.map(({ slug, data: { title, date, tags } }) => (
          <li class="mt-4 p-0">
            <div class="flex justify-between">
              <div class="flex flex-wrap">
                <a class="" href={`/post/${slug}`}>
                  <h3 class="text-lg">{title}</h3>
                </a>
                {tags.map((tag) => (
                  <span class="text-sm font-extralight h-fit ml-1 px-1 py-[1px] border rounded-2xl bg-slate-100 border-gray-300 text-gray-600 max-sm:hidden text-ellipsis">
                    {tag}
                  </span>
                ))}
              </div>
              <span class="">{dateString(date)}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
